@charset "UTF-8";

#signup {
    margin: 20px auto;
    width: 520px;
}

/************************************** 
    게시판 공통 
    ***********************************/

.form_group {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid #e6e6e6;
}

.form_group .form_txt {
    display: inline-block;
    width: 80px;
    
}

/**************************************/

/* 우편번호칸 */
.addblank {
    margin: 3px 0px 0px 84px;
    width: 400px;
}
/* //우편번호칸 */

/* 라디오 체크박스 */
input[type="radio"], input[type="checkbox"] {
    margin: 0px 15px 0px 0px;
}

/* 자기소개 */
textarea {
    width: 410px;
    height: 100px;
}

/* 자기소개타이틀 */
.leftop {
    float: left;
}

/* 버튼 */
.button_area {
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.button_area button {
    width: 80px;
    padding: 5px 5px;
    background-color: #79b30b;
    color: #fff;
    border: none;
    font-size: 17px;
    border-radius: 2px;
}
