<!DOCTYPE html>


<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <title>Mysite0</title>

        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/guestbook.css">
    </head>

    <body>
        <div id="wrap">

            <!--HEADER -->
            <div id="header" class="clearfix">
                <h1><a href="../main/main.html">Mysite</a></h1><!-- 로고 -->
                    <ul class="clearfix">
                        <li><a href="../user/login.html">로그인</a></li><!-- 로그인 -->
                        <li><a href="../user/signup.html">회원가입</a></li><!-- 회원가입 -->
                    </ul>
            </div>
            <!--//HEADER -->

            <!-- NAVIGATION -->
            <div id="nav" class="clearfix">
                <ul>
                    <li><a>입사지원서</a></li>
                    <li><a href="../board/list.html">게시판</a></li>
                    <li><a>갤러리</a></li>
                    <li class="last"><a>방명록</a></li>
                </ul>
            </div>
            <!-- //NAVIGATION -->

            <!-- CONTENTS -->
            <div id="contents" class="clearfix">
                <div id="aside">
                    <h2>방명록</h2>
                    </div>

                <div id="guestbook" class="clearfix">
                    <table>
                        <tbody>
                        <tr>
                            <td>오준식:</td>
                            <td>ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</td>
                            <td>2021.05.19</td>
                            <td>[수정/삭제]</td>
                        </tr>
                        <tr>
                            <td>오준식:</td>
                            <td>ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</td>
                            <td>2021.05.19</td>
                            <td>[수정/삭제]</td>
                        </tr>
                        <tr>
                            <td>오준식:</td>
                            <td>ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</td>
                            <td>2021.05.19</td>
                            <td>[수정/삭제]</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>

            </div>
            <!-- //CONTENTS -->
            
            <!-- FOOTER -->
            <div id="footer">
                <p>Copyright ©오준식. All right reserved. </p>
            </div>
            <!-- //FOOTER -->
        </div>
        
    </body>
        
    
 

</html>