<!DOCTYPE html>


<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <title>Mysite0</title>

        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>

    <body>
        <div id="wrap">

            <!--HEADER -->
            <div id="header" class="clearfix">
                <h1><a href="../main/main.html">Mysite</a></h1><!-- 로고 -->
                    <ul class="clearfix">
                        <li><a href="../user/login.html">로그인</a></li><!-- 로그인 -->
                        <li><a href="../user/signup.html">회원가입</a></li><!-- 회원가입 -->
                    </ul>
            </div>
            <!--//HEADER -->

            <!-- NAVIGATION -->
            <div id="nav" class="clearfix">
                <ul>
                    <li><a>입사지원서</a></li>
                    <li><a href="../board/list.html">게시판</a></li>
                    <li><a>갤러리</a></li>
                    <li class="last"><a>방명록</a></li>
                </ul>
            </div>
            <!-- //NAVIGATION -->

            <!-- CONTENTS -->
            <div id="contents" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li><a href="../board/list.html">일반게시판</a></li>
                        <li><a>댓글 게시판</a></li>
                        <li><a>첨부 게시판</a></li>
                    </ul>
                </div>
                <div id="main" class="clearfix">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>
                        <ul class="clearfix">
                            <li><a href="../main/main.html">홈</a></li>
                            <li><a href="../board/list.html">게시판</a></li>
                            <li class="last"><a href="../board/list.html">일반게시판</a></li>
                        </ul>
                    </div>

                    <!-- board -->
                    <div id="main-body">
                        <div id="board">
                            <div id="search" class="clearfix">
                                <form action="#" method="GET">
                                    <input type="text" name="keyword" value="">
                                    <button type="submit">검색</button>
                                </form>
                            </div>
                            <div id="board-table" class="clearfix">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>글쓴이</th>
                                            <th>조회수</th>
                                            <th>작성일</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>aaaa</td>
                                            <td>bbbbbbbbbbbb</td>
                                            <td>ccccccc</td>
                                            <td>ddddddd</td>
                                            <td>ddddddd</td>
                                            <td>[삭제]</td>
                                        </tr>
                                        <tr>
                                            <td>aaaa</td>
                                            <td>bbbbbbbbbbbb</td>
                                            <td>ccccccc</td>
                                            <td>ddddddd</td>
                                            <td>ddddddd</td>
                                            <td>[삭제]</td>
                                        </tr>
                                        <tr>
                                            <td>aaaa</td>
                                            <td>bbbbbbbbbbbb</td>
                                            <td>ccccccc</td>
                                            <td>ddddddd</td>
                                            <td>ddddddd</td>
                                            <td>[삭제]</td>
                                        </tr>
                                        <tr>
                                            <td>aaaa</td>
                                            <td>bbbbbbbbbbbb</td>
                                            <td>ccccccc</td>
                                            <td>ddddddd</td>
                                            <td>ddddddd</td>
                                            <td>[삭제]</td>
                                        </tr>
                                        <tr>
                                            <td>aaaa</td>
                                            <td>bbbbbbbbbbbb</td>
                                            <td>ccccccc</td>
                                            <td>ddddddd</td>
                                            <td>ddddddd</td>
                                            <td>[삭제]</td>
                                        </tr>
                                        <tr>
                                            <td>aaaa</td>
                                            <td>bbbbbbbbbbbb</td>
                                            <td>ccccccc</td>
                                            <td>ddddddd</td>
                                            <td>ddddddd</td>
                                            <td>[삭제]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- paging -->
                                <div id="pager">
                                    <ol>
                                        <li><a href>◀</a></li>
                                        <li><a href>1</a></li>
                                        <li><a href>2</a></li>
                                        <li><a href>3</a></li>
                                        <li><a href>4</a></li>
                                        <li><a href>5</a></li>
                                        <li><a class="active" href>6</a></li>
                                        <li><a href>7</a></li>
                                        <li><a href>8</a></li>
                                        <li><a href>9</a></li>
                                        <li><a href>10</a></li>
                                        <li><a href>▶</a></li>
                                    </ol>
                                    
                                    <a id="btn-writer" href="">글쓰기</a>
                                </div>
                                <div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- //CONTENTS -->
                
                <!-- FOOTER -->
                <div id="footer" class="clearfix">
                    <p>Copyright ©오준식. All right reserved. </p>
                </div>
            
            <!-- //FOOTER -->
        </div>
        
    </body>
        
    
 

</html>