<!DOCTYPE html>


<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <title>Mysite0</title>

        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/main.css">
    </head>

    <body>
        <div id="wrap">

            <!--HEADER -->
            <div id="header" class="clearfix">
                <h1><a href="../main/main.html">Mysite</a></h1><!-- 로고 -->
                    <ul class="clearfix">
                        <li><a href="../user/login.html">로그인</a></li><!-- 로그인 -->
                        <li><a href="../user/signup.html">회원가입</a></li><!-- 회원가입 -->
                    </ul>
            </div>
            <!--//HEADER -->

            <!-- NAVIGATION -->
            <div id="nav" class="clearfix">
                <ul>
                    <li><a>입사지원서</a></li>
                    <li><a href="../board/list.html">게시판</a></li>
                    <li><a>갤러리</a></li>
                    <li class="last"><a>방명록</a></li>
                </ul>
            </div>
            <!-- //NAVIGATION -->

            <!-- CONTENTS -->
            <div id="full-contents" class="clearfix">
                <img id="profile-img" src="../../assets/img/jung.jpg">
                <div id="greetings">
                    <p id="grt">
                        안녕하세요!!<br>
                        오준식의 Mysite에 오신 것을 환영합니다.<br>
                    </p>
                    <p id="discription">
                        찾아다녀도, 작고 무엇을 청춘의 같지 방지하는 가는 운다. 용감하고 내려온 남는 보라.<br> 
                        끓는 품고 피가 구할 우리는 트고, 청춘 것이다. 두손을 그러므로 무엇을 능히 지혜는<br> 
                        인생을 든 생생하며, 있으랴? 있음으로써 우리 그것을 이상은 봄바람이다. 웅대한 끓는<br> 
                        품에 만물은 작고 부패를 얼음이 날카로우나 아름다우냐? 같이, 싹이 피가 것은 발휘하기<br> 
                        그림자는 같지 얼음과 가치를 것이다.
                    <br><br>
                    <a href="">[방명록에 글 남기기]</a>
                    </p>
                    
                </div>
            </div>
            <!-- //CONTENTS -->
            
            <!-- FOOTER -->
            <div id="footer">
                <p>Copyright ©오준식. All right reserved. </p>
            </div>
            <!-- //FOOTER -->
        </div>
        
    </body>
        
    
 

</html>